{% extends 'layouts/app.twig' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <div>
        <h2>Welcome to My Dashboard</h2>
        <p>This is the content of my dashboard.</p>
    </div>
{% endblock %}

