{% extends 'layouts/app.twig' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <div>
        <h2>Welcome to My Dashboard</h2>
        <p>This is the content of my dashboard.</p>
    </div>
    <div>
        {% if users %}
           {% for user in users %}
                <h4><a href="/users/{{user.id}}">{{ user.first_name }}</a> </h4>
            {% endfor %}
        {% else %}
            <p>No user details found.</p>
        {% endif %}
    </div>
{% endblock %}

