{% extends 'layouts/app.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
    {% if message is defined %}
        {{message[0]}}
    {% endif %}
    
    <div>
        <h2>Welcome to My Web Page</h2>
        <p>This is the content of my web page.</p>
    </div>
{% endblock %}

