{% extends 'layouts/app.twig' %}

{% block title %}Home
{% endblock %}
{% block content %}


	<div>
		<h2>Welcome to My Web Page</h2>
		<p>This is the content of my web page.</p>
	</div>
	<div>
		{% if users is not empty %}
			{% for user in users %}
				<div>
					<a href="{{ route('users.show', { 'user': user.id }) }}">{{ user.first_name }}</a>
				</div>
			{% endfor %}

			{{ users.links() | raw }}
		{% endif %}
	</div>
{% endblock %}
