<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if block('title') is defined %} {{block('title')}} {% endif %}</title>
</head>
<body>
    <header>
       <nav>
        {% include 'layouts/partials/navigation.twig' %}
       </nav>
    </header>

    <main>
       <h1>{% block title %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Seu rodapé aqui -->
    </footer>
</body>
</html>